html{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    background: rgb(43, 30, 90);
    color: white;
    margin: 0;
    font-size: 0;
    height: 100%;
}

h1{
    font-size: 30px;
    font-weight: normal;
    text-decoration: underline fuchsia;
}
.header{
    width: 20%;
}

.main{
    width: 80%;
}
.contenedor{
    display: inline-block;
    font-size: 16px;
    vertical-align: top;
    height: 100%;
}
.logo{
    display: block;
    width: 80px;
    height: 80px;
    /*para centrar, auto es un valor, el porcentaje le suma al margen como siempre*/
    margin: 10% auto;
    /*esto hace que se esconda lo que sobresalga, en este caso creo que no hace nada*/
    overflow: hidden;
}
/* esto funciona solo si hay una clase con una img adentro*/
.logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.menu ul{
    margin: 0;
    padding: 0;
    /* cambia los puntos en una lista a distintas cosas*/
    list-style: armenian;
}

.menu ul li{
    width: 100%;
    height: 35px;
}
.menu ul li a{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 35px;
    color: white;
    text-decoration: none;
    
}
/* hoover aca es para decir cuando el mouse pasa sobre un punto, la funcion encierra todo lo que pasa
 cuando el mouse pasa sobre a*/
.menu ul li a:hover{
    background: green;
}
.menu ul li a:visited{
    color: none;
}
.menu ul .active a{
    border-left: 3px fuchsia solid;
    color: fuchsia;
}

.redes-sociales {
list-style: none;
margin: 100px 0 0;
padding: 0px;
text-align: center;
}

.redes-sociales li{
    display: inline-block;
}

.formulario{
    background: transparent;
}